.DS_Store
cache/
vendor/
composer.lock
composer.phar
.htaccess
.well-known
php.ini
php.cgi
core/db/config.php
core/db/*.db
core/db/pdo_*.php
core/api/
custom/*
upload/*
postease_password.txt
origin_allowed.txt
remote_address_allowed.txt
